#hero, #projects, #skills, #contact {
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.header h1 {
  font-size: 115px;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  line-height: 69.5%;
  text-align: left;
  margin-top: -190px;
}

.header img {
  width: 275px;
  height: auto;
}

.about {
  text-align: right;
}

.about p {
  font-size: 30px;
  font-weight: 450;
  font-style: normal;
  color: #272829;
  line-height: 100%;
}

#projects, #skills, #contact p {
  font-size: 24px;
  color: lightslategray;
}

.projects_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.projects_links p {
  color: #191919;
  font-size: 12px;
  margin-top: 0;
}

.projects_links a {
  font-size: 12px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
  margin-top: 14px;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: column;
}

.mpulse img {
  border-radius: 5px;
  width: 250px;
  height: auto;
}

.tripl img {
  border-radius: 5px;
  width: 400px;
  height: auto;
}

.skills_categories p {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}

.skills_categories img {
  width: 45px;
  height: 45px;
}

.contact_info p {
  font-size: 14px!important;
  font-weight: 500!important;
  color: #191919!important;
  margin-bottom: -3px!important;
}

.contact_info i {
  padding-top: 12px;
  margin-right: 5px;
}

.contact_info a {
  font-size: 12px;;
  color: #191919;
  text-decoration: underline;
}

.contact_info a:hover {
  font-weight: 500;
}

.contact_info_head {
  display: flex;
  flex-direction: row;
}
