#about {
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-top: 200px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 110%;
}

#projects, #contact {
  font-weight: 400;
  font-style: normal;
  color: #191919;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}

.projects-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .projects-links {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .projects-links {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .projects-links {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .projects-links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .projects-links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.projects-links a {
  font-size: 12px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
  margin-top: 14px;
}

.projects-links p {
  color: #191919;
  font-size: 12px;
  margin-top: 0;
  width: inherit;
}

.mpulse img {
  border-radius: 5px;
  width: 250px;
  height: auto;
}

.tripl img {
  border-radius: 5px;
  width: 400px;
  height: auto;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: column;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
  color: #191919;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
}

.devicons img {
  filter: grayscale(100%);
}

#contact p {
  font-size: 12px;
  font-weight: 500;
  color: #191919;
}

#contact a {
  font-size: 12px;;
  color: #191919;
  text-decoration: none;
}
