/* Formats the sections */
#hero, #projects, #skills, #services, #contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Hero section styling */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.header h1 {
  font-size: 10vw;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  line-height: 69.5%;
  text-align: left;
}

.header img {
  width: 35%;
  height: auto;
}

.about {
  text-align: right;
}

.about p {
  font-size: 30px;
  font-weight: 450;
  font-style: normal;
  color: #272829;
  line-height: 103%;
}

/* Section header styling */
#projects, #skills, #services, #contact p {
  font-size: 24px;
}

/* Projects section styling */
.projects_links {
  display: grid;
  grid-gap: 24px;
}

.projects_links p {
  color: #191919;
  font-size: 12px;
  margin-top: 0;
}

.projects_links a {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
  margin-top: 14px;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: column;
}

/* Skills and Services section styling */
.skills_categories, .services_categories {
  display: flex;
  justify-content: space-evenly;
}

.services_categories {
  text-align: center;
}

.skills_categories, .services_categories p {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}

.skills_categories img {
  width: 45px;
  height: 45px;
}

.services_categories i {
  color: #191919;
  font-size: 80px;
  margin-bottom: 5px;
}

.services_categories hr {
  width: 10px;
  border-color: #191919;
}

/* Contact section styling */
.contact_categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact_categories_left, .contact_categories_right {
  width: 35vw;
}

.contact_categories_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.contact_categories p {
  margin-bottom: -2px;
  font-size: 14px!important;
  font-weight: 500!important;
  color: #191919!important;
}

.contact_categories i {
  margin-right: 5px;
}

.contact_categories a {
  font-size: 12px;
  color: #191919;
  text-decoration: underline;
}

button {
  background-color: white;
  color: #191919;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  margin-top: 20px;
  width: 34vw;
}

button:hover {
  background-color: #191919;
  color: white;
  transition: all 0.1s ease;
}
