/* Formats the sections */
#hero {
  padding-bottom: 50px;
}

#projects, #about, #blog, #contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Hero section styling */
/* .hero_dark {
  border-style: none;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 40px rgba(0, 0, 0, 1); /* Adjust values for blur effect
} */

.hero_background_image_light{
  /* background-image: url('/images/tokyo_hero.jpg'); */
  background-color: #FFFFFF;
  background-size: cover;
  background-position: center;
  padding-top: 225px;
  margin-bottom: 50px;
  width: 100%;
  height: 550px;
}

.hero_background_image_dark{
  /* background-image: url('/images/shinjuku_hero.jpg'); */
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding-top: 225px;
  margin-bottom: 50px;
  width: 100%;
  height: 550px;
}

.hero_header h1 {
  font-size: 48px;
  font-weight: 600;
  /* color: #FFFFFF; */
  color: #b99637;
  text-align: center;
  letter-spacing: -2px;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); */
  margin-bottom: -5px;
}

.hero_header h6 {
  /* font-size: 16px; */
  font-size: 32px;
  /* font-weight: 525; */
  font-weight: 500;
  /* color: whitesmoke; */
  color: #b99637;
  text-align: center;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); */
}

.hero_about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 175px;
}

.hero_about p {
  font-size: 14px;
  /* font-weight: 500; */
  font-weight: 400;
  /* color: whitesmoke; */
  text-align: center;
  line-height: 105%;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); */
}

.hero_about_light {
  color: #333333;
}

.hero_about_dark {
  color: #FFFFFF;
}

.header_light {
  color: #000000;
}

.header_dark {
  color: #FFFFFF;
}

/* Projects section styling */
.projects_links {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 50px;
}

.projects_links p {
  color: #000000;
  font-size: 12px;
  margin-top: 0;
}

.projects_links a {
  font-size: 14px;
  font-weight: 500;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jurassic_safari {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mpulse .projects_links_info, .tripl .projects_links_info, .jurassic_safari .projects_links_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  font-weight: 500;
  font-style: normal;
}

.mpulse, .jurassic_safari {
  background-color: #0a0913;
  margin-top: 15px;
}

.tripl {
  background-color: rgb(250, 250, 250);
  margin-top: 15px;
  overflow: hidden;
}

.tripl h2 {
  color: #F26419;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.tripl p {
  text-align: center;
}

.mpulse p, .jurassic_safari p {
  color: #FFFFFF;
  text-align: center;
}

.mpulse a, .jurassic_safari a {
  color: #FFFFFF;
}

.projects_info_skills {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.projects_info_skills img {
  width: 25px;
  height: 25px;
  margin: 5px;
  filter: saturate(0);
}

#mpulse_app_image {
  width: 150px;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  border-color: #343d46;
  border-width: thin;
  border-radius: 15px;
  padding: 5px;
}

#mpulse_logo_image {
  width: 225px!important;
  height: auto!important;
  margin-bottom: -60px;
  margin-left: -10px;
}

#tripl_app_image {
  width: 55vw;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 7px;
  border-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: -9rem;
  margin-bottom: -58px;
}

#jurassic_safari_logo_image {
  width: 225px!important;
  height: auto!important;
  margin-bottom: 10px;
}

#jurassic_safari_app_image {
  width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

/* About section styling */
.about_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.about_info img {
  width: 325px;
  height: auto;
}

.about_info p {
  font-size: 12px;
  font-weight: 400;
  width: 325px;
}

.about_description_light {
  color: #000000;
}

.about_description_dark {
  color: #FFFFFF;
}

/* Blog section styling */
.blog_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.blog_entry p {
  font-size: 12px;
  font-weight: 400;
  width: 560px;
  padding-top: 25px;
}

.blog_entry_light {
  color: #000000;
}

.blog_entry_dark {
  color: #FFFFFF;
}

.blog_entry_divider {
  font-size: 12px;
  text-align: center;
}

#blog_video {
  border: none;
  width: 560px;
  height: 315px;
  overflow: hidden;
}

.blog_swift {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.blog_swift img {
  width: 40px;
  height: 40px;
}

/* Contact section styling */
.contact_email {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 125px;
}

.contact_email p {
  font-size: 12px;
}

.contact_email a {
  font-size: 12px;
  text-decoration: underline;
}

.contact_light {
  color: #000000;
}

.contact_dark {
  color: #FFFFFF;
}

.contact_email_light {
  color: #000000;
}

.contact_email_light:hover {
  color: #000000;
  text-decoration: line-through;
}

.contact_email_dark {
  color: #FFFFFF;
}

.contact_email_dark:hover {
  color: #FFFFFF;
  text-decoration: line-through;
}
