/* Formats the sections */
#hero, #projects, #about, #contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Hero section styling */
.hero_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.hero_header h1 {
  font-size: 10vw;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  line-height: 69.5%;
  text-align: left;
}

.hero_about {
  text-align: right;
  width: 40vw;
  float: right;
}

.hero_about p {
  font-size: 30px;
  font-weight: 450;
  font-style: normal;
  color: #272829;
  line-height: 103%;
}

/* Projects section styling */
.projects_links {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.projects_links p {
  color: #191919;
  font-size: 12px;
  margin-top: 0;
}

.projects_links a {
  font-size: 14px;
  font-weight: 500;
}

.mpulse p {
  color: white;
  text-align: center;
}

.mpulse a {
  color: white;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mpulse {
  background-color: black;
  margin-top: 15px;
}

#mpulse_app_image {
  width: auto;
  height: 50vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  border-color: #343d46;
  border-width: thin;
  border-radius: 15px;
  padding: 5px;
}

#mpulse_logo_image {
  width: 225px!important;
  height: auto!important;
  margin-bottom: -50px;
  margin-left: -10px;
}

.mpulse .projects_links_info, .tripl .projects_links_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  font-weight: 500;
  font-style: normal;
}

.tripl {
  background-color: rgb(250, 250, 250);
  margin-top: 15px;
  overflow: hidden;
}

.tripl h2 {
  color: #F26419;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.tripl p {
  text-align: center;
}

#tripl_app_image {
  width: 55vw;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 7px;
  border-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: -9rem;
  margin-bottom: -58px;
}

.projects_info_skills {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.projects_info_skills img {
  width: 25px;
  height: 25px;
  margin: 5px;
  filter: saturate(0);
}

/* About section styling */
.about_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 25px;

}

.about_info img {
  width: 225px;
  height: 225px;
}

.about_info p {
  font-size: 12px;
  font-weight: 400;
  width: 350px;
  margin-top: 20px;
}

/* Contact section styling */
.contact_categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 50px;
}

.contact_categories_left, .contact_categories_right {
  width: 35vw;
}

.contact_categories_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.contact_categories p {
  margin-bottom: -2px;
  font-size: 14px!important;
  font-weight: 500!important;
  color: #191919!important;
}

.contact_categories i {
  margin-right: 5px;
}

.contact_categories a {
  font-size: 12px;
  color: #191919;
  text-decoration: underline;
}
