/* Formats the sections */
#hero, #projects, #skills, #services, #contact {
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  border-bottom-width: thin;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

/* Hero section styling */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.header h1 {
  font-size: 115px;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  line-height: 69.5%;
  text-align: left;
  margin-top: -190px;
}

.header img {
  width: 275px;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.about {
  text-align: right;
}

.about p {
  font-size: 30px;
  font-weight: 450;
  font-style: normal;
  color: #272829;
  line-height: 100%;
}

/* Section header styling */
#projects, #skills, #services, #contact p {
  font-size: 24px;
}

/* Projects section styling */
.projects_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.projects_links p {
  color: #191919;
  font-size: 12px;
  margin-top: 0;
}

.projects_links a {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
  margin-top: 14px;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: column;
}

.mpulse img {
  border-radius: 5px;
  width: 250px;
  height: auto;
}

.tripl img {
  border-radius: 5px;
  width: 400px;
  height: auto;
}

/* Skills and Services section styling */
.skills_categories, .services_categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.skills_categories, .services_categories p {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}

.skills_categories img {
  width: 45px;
  height: 45px;
}

.services_categories i {
  color: #191919;
  font-size: 80px;
}

/* Contact section styling */
.contact_categories p {
  margin-bottom: -3px;
  font-size: 14px!important;
  font-weight: 500!important;
  color: #191919!important;
}

.contact_categories i {
  padding-top: 12px;
  margin-right: 5px;
}

.contact_categories a {
  font-size: 12px;
  color: #191919;
  text-decoration: underline;
}

.contact_categories a:hover {
  font-weight: 500;
}

button {
  background-color: white;
  color: #191919;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  display: inline-block;
  cursor: pointer;
  padding: 10px 100px;
  margin-top: 20px;
}

button:hover {
  background-color: #191919;
  color: white;
  transition: all 0.1s ease;
}
