body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
}

.header h4 {
  margin-top: -15px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
  color: white;
  background-color: black;
}

.about p {
  width: 75vw;
  margin-top: -15px;
  font-size: 14px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
  color: white;
  background-color: black;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
}
