html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

#about {
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-top: 200px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 110%;
}

#projects, #contact {
  font-weight: 400;
  font-style: normal;
  color: #191919;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}

.projects-links {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.projects-links a {
  font-size: 20px;
  color: #191919;
  text-decoration: none;
  margin-top: 15px;
}

.projects-links p {
  color: lightslategray;
  font-size: 17px;
}

.mpulse img {
  border-radius: 5px;
  width: 300px;
  height: auto;
}

.tripl img {
  border-radius: 5px;
  width: 500px;
  height: auto;
}

.mpulse, .tripl {
  display: flex;
  flex-direction: column;
}

#contact p {
  color: #81D8D0;
}

#contact a {
  font-size: 20px;;
  color: #191919;
  text-decoration: none;
}


#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
  color: #191919;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
}

.footer {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #191919;
  padding-left: 35px;
  padding-right: 35px;
}

/* Add a black background color to the top navigation */
#topnav {
  overflow: hidden;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
}

/* Style the links inside the navigation bar */
#topnav a {
  float: left;
  color: #191919;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#topnav a.split:hover {
  color: #191919;;
}

/* Add a color to the active/current link */
#topnav a.active {
  color: #191919;
}

/* Create a right-aligned (split) link inside the navigation bar */
#topnav a.split {
  float: right;
  color: lightslategray;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
