body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  color: #272829;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 110%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
  color: #191919;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
}

.projects {
  font-weight: 400;
  font-style: normal;
  color: #191919;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.projects-links {
  justify-content: space-between;
}

.projects-links a {
  color: #191919;
  text-decoration: none;
  font-size: 14px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 50vh;
  color: #191919;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #191919;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a.split:hover {
  color: #191919;;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #191919;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  color: lightslategray;
}
