button:focus {
  outline: none;
}

/* Projects section button styling */
.mpulse button {
  background-color: #0a0913;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  width: 150px;
}

.mpulse button:hover {
  background-color: #5CE1E6;
  color: #0a0913;
  transition: all 0.1s ease;
}

.tripl button {
  background-color: rgb(250, 250, 250);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  width: 150px;
}

.tripl button:hover {
  background-color: #F26419;
  color: rgb(250, 250, 250);
  transition: all 0.1s ease;
}

.tripl_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tripl_app_button, #tripl_github_button {
  margin: 5px;
}

.jurassic_safari button {
  background-color: #0a0913;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  width: 150px;
}

.jurassic_safari button:hover {
  background-color: #fbe121;
  color: #0a0913;
  transition: all 0.1s ease;
}

/* Contact section button styling */
#cv_button {
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
}

#cv_button:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: all 0.1s ease;
}

.button_light {
  background-color: #FFFFFF;
  color: #000000;
}

.button_dark {
  background-color: #000000;
  color: #FFFFFF;
}
