/* Projects section button styling */
.mpulse button {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  width: 150px;
}

.mpulse button:hover {
  background-color: #5CE1E6;
  color: black;
  transition: all 0.1s ease;
}

.mpulse button:focus {
  outline: 1px solid transparent;
  box-shadow: 0 0 0 1px white;
}

.tripl button {
  background-color: rgb(250, 250, 250);
  color: #191919;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  width: 150px;
}

.tripl button:hover {
  background-color: #F26419;
  color: white;
  transition: all 0.1s ease;
}

.tripl button:focus {
  outline: 1px solid transparent;
  box-shadow: 0 0 0 1px #191919;
}

.tripl_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tripl_app_button, #tripl_github_button {
  margin: 5px;
}

/* Contact section button styling */
#cv_button {
  background-color: white;
  color: #191919;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: solid;
  border-width: thin;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  width: 150px;
}

#cv_button:hover {
  background-color: #191919;
  color: white;
  transition: all 0.1s ease;
}

#cv_button:focus {
  outline: 1px solid transparent;
  box-shadow: 0 0 0 1px #191919;
}
