.projects_card {
  background-size: cover;
  height: 270px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* display: flex;
   justify-content: center;
   align-items: center;
   linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
   color: white;
   font-size: 24px;
   font-weight: bold;
   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
