/* Styles the footer */
#footer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-top-style: solid;
  border-top-width: thin;
}

.footer_light {
  border-top-color: whitesmoke;
}

.footer_dark {
  border-top-color: #191919;
}

/* Formats the footer */
.footer_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Space between the left-aligned items and the right-aligned p tag */
  align-items: center; /* Vertically center items */
  list-style-type: none; /* Remove bullet points from list items */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.footer_left {
  display: flex;
  flex-direction: row;
}

/* Styles the the text inside the footer */
#copyright {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  margin: 0; /* Remove default margin */
  margin-left: auto; /* Push the copyright text to the far right */
}

/* Styles the links inside the footer */
.footer_item a {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  margin-right: 15px; /* Optional: add space between list items */
}

.footer_item_light {
  color: #191919;
}

.footer_item_light:hover {
  color: #191919;
  text-decoration: line-through;
}

.footer_item_dark {
  color: whitesmoke;
}

.footer_item_dark:hover {
  color: whitesmoke;
  text-decoration: line-through;
}

.copyright_light {
  color: #757575;
}

.copyright_dark {
  color: #636363;
}
