.footer {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: lightslategray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
}
