/* Sticks navbar to top of page */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Styles the navigation bar*/
#navbar {
  overflow: hidden;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  border-bottom-width: thin;
  padding-top: 15px;
  z-index: 1;
  top: 0;
  left: 0;
}

/* Formats the navigation bar */
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

/* Styles the navigation bar links */
.nav_link {
  color: #272829;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

/* Add a dark color on navbar links and the dropdown button on hover */
.nav_list a:hover {
  color: #191919;
  font-weight: 501;
  text-decoration: none;
}

/* Styles the active navigation bar links */
.active {
  color: #191919;
}

/* Hides the link that should open and close the navbar on small screens */
.nav_list .icon {
  color: #272829;
  font-size: 18px;
  padding-top: 2px;
  display: none;
}

/* Styles the mobile menu dropdown */
  .mobile_menu_container {
    height: 0;
	  overflow: hidden;
	  transition: all 0.3s ease;
  }

  .mobile_menu {
    flex-direction: column;
    top: 1;
    left: 0;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    list-style-type: none;
    text-align: left;
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .mobile_menu li {
    margin-bottom: 17px;
  }

  .mobile_menu a {
    color: #272829;
    font-size: 12px;
    font-weight: 500;
  }

  .mobile_menu a:hover {
    color: #191919;
    text-decoration: none;
  }
