/* Add a white background color to the top navigation */
#topnav {
  overflow: hidden;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav_list li {
  list-style-type: none;
}
/* Style the links inside the navigation bar */
.nav_link {
  color: lightslategray;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.nav_link:hover {
  color: #191919;
  font-weight: 500;
}

.active {
  color: #191919;
  font-weight: 500;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
