/* Styles the navigation bar*/
#navbar {
  overflow: hidden;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  border-bottom-width: thin;
  padding-top: 15px;
}

/* Formats the navigation bar */
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}

/* Removes bullet points from navigation bar links */

.nav_list li {
  list-style-type: none;
}

/* Styles the navigation bar links */
.nav_link {
  color: lightslategray;
  text-decoration: none;
  font-size: 14px;
}

/* Styles the navigation bar links on hover */
.nav_link:hover {
  color: #191919;
  font-weight: 500;
}

/* Styles the active navigation bar links */
.active {
  color: #191919;
  font-weight: 500;
}

/* Sticks navbar to top of page */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
