/* Sticks navbar to top of page */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Styles the navigation bar*/
#navbar {
  overflow: hidden;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  border-bottom-width: thin;
  padding-top: 15px;
  z-index: 1;
}

/* Formats the navigation bar */
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

/* Styles the navigation bar links */
.nav_link {
  color: #191919;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

/* Add a dark color on navbar links and the dropdown button on hover */
.nav_list a:hover {
  color: #272829;
  text-decoration: none;
}

/* Styles the active navigation bar links */
.active {
  color: #272829;
}

/* Hides the link that should open and close the navbar on small screens */
.nav_list .icon {
  color: #191919;
  display: none;
}

/* Styles the mobile menu dropdown */
  .mobile_menu {
    display: none; /* Initially hidden, change as needed */
    position: fixed; /* Fixed positioning to stay on the screen */
    flex-direction: column;
    top: 1;
    left: 0;
    padding-left: 25px;
    padding-right: 25px;
    height: 100vh;
    width: 100%;
    background-color: white;
    list-style-type: none;
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .mobile_menu a {
    font-size: 56px;
  }

  .mobile_menu a:hover {
    color: #272829;
    text-decoration: none;
  }
