html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: auto;
  width: 100%;
}

.body_light {
  background-color: white;
}

.body_dark {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

hr {
  width: 100%;
}

.hr_light {
  border-color: whitesmoke;
}

.hr_dark {
  border-color: #191919;
}

/* Smallest device */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .nav_left li:not(:first-child) {
    display: none!important;
  }

  .nav_list .icon {
    display: block!important;
  }

  .hero_header h1 {
    font-size: 32px!important;
  }

  .hero_header h6 {
    font-size: 14px!important;
  }

  .hero_about p {
    font-size: 12px!important;
    width: 260px!important;
  }

  .projects_links_info, .about_info p {
    width: 300px!important;
  }

  .mpulse, .tripl {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -30px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  #jurassic_safari_app_image {
    width: 80vw!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
    width: 325px!important;
  }

  .about_info p {
    width: 325px!important;
  }

  #blog_video {
    height: 183px!important;
    width: 325px!important;
  }

  .blog_info p {
    width: 325px!important;
  }

  #cv_button {
    width: 325px!important;
  }

  .contact_email {
    padding-left: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
  }

  .contact_email p {
    width: 300px;
  }

  .footer_list {
    flex-direction: column!important;
    align-items: start!important;
  }

  .footer_right {
    padding-top: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav_left li:not(:first-child) {
    display: none!important;
  }

  .nav_list .icon {
    float: right!important;
    display: block!important;
  }

  .hero_header h1 {
    font-size: 32px!important;
  }

  .hero_header h6 {
    font-size: 14px!important;
  }

  .hero_about p {
    font-size: 12px!important;
    width: 500px!important;
  }

  .mobile_menu {
    max-height: 100vh!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse, .tripl {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -25px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  #jurassic_safari_app_image {
    width: 80vw!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
    width: 325px!important;
  }

  .about_info p {
    width: 325px!important;
  }

  #blog_video {
    height: 183px!important;
    width: 325px!important;
  }

  .blog_info p {
    width: 325px!important;
  }

  #cv_button {
    width: 325px!important;
  }

  .contact_email {
    padding-left: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
  }

  .footer_list {
    flex-direction: column!important;
    align-items: start!important;
  }

  .footer_right {
    padding-top: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav_left li:not(:first-child) {
    display: none!important;
  }

  .nav_list .icon {
    display: block!important;
  }

  .hero_header h1 {
    font-size: 40px!important;
  }

  .hero_header h6 {
    font-size: 15px!important;
  }

  .hero_about p {
    font-size: 13px!important;
    width: 525px!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse, .tripl {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -30px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  #jurassic_safari_app_image {
    width: 80vw!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }

  #cv_button {
    width: 325px!important;
  }

  .contact_email {
    padding-left: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
  }

  .footer_list {
    flex-direction: column!important;
    align-items: start!important;
  }

  .footer_right {
    padding-top: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile_menu_container {
    display: none!important;
  }

  .mobile_menu {
    display: none!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse .projects_links_info {
    margin-top: -75px!important;
  }

  #tripl_app_image {
    margin-right: -5rem!important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .mobile_menu_container {
    display: none!important;
  }

  .mobile_menu {
    display: none!important;
  }

  .mpulse .projects_links_info {
    margin-top: -75px!important;
  }
}
