html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  height: auto;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

hr {
  width: 100%;
  border-color: whitesmoke;
}

/* Smallest device */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .nav_list {
    justify-content: space-between!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .nav_list li:not(:nth-child(2), :nth-child(6)) {
    display: none!important;
  }

  .nav_list .icon {
    display: block!important;
  }

  .hero_about {
    padding-left: 0px!important;
  }

  .hero_title h4 {
    text-align: center!important;
  }

  .hero_about h6 {
    width: 100%!important;
  }

  .projects_links_info, .about_info p {
    width: 250px!important;
  }

  .mpulse, .tripl, .jurassic_safari {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -30px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }

  .about_info p {
    width: 290px!important;
  }

  #blog_video {
    height: 183px!important;
    width: 325px!important;
  }

  .blog_info p {
    margin-left: 0px!important;
    text-align: center!important;
  }

  #cv_button {
    width: 290px!important;
  }

  .contact_email {
    padding-left: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
  }

  .contact_email p {
    width: 300px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav_list {
    justify-content: space-between!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .nav_list li:not(:nth-child(2), :nth-child(6)) {
    display: none!important;
  }

  .nav_list .icon {
    float: right!important;
    display: block!important;
  }

  .hero_title h4 {
    text-align: center!important;
  }

  .hero_about {
    padding-left: 0px!important;
  }

  .hero_about h6 {
    width: 100%!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse, .tripl, .jurassic_safari {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -25px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }

  .about_info p {
    width: 290px!important;
  }

  #blog_video {
    height: 183px!important;
    width: 325px!important;
  }

  .blog_info p {
    margin-left: 0px!important;
    text-align: center!important;
  }

  #cv_button {
    width: 290px!important;
  }

  .contact_email {
    padding-left: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav_list {
    justify-content: space-between!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .nav_list li:not(:nth-child(2), :nth-child(6)) {
    display: none!important;
  }

  .nav_list .icon {
    display: block!important;
  }

  .hero_title h4 {
    text-align: center!important;
  }

  .hero_about {
    padding-left: 0px!important;
  }

  .hero_about h6 {
    width: 100%!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse, .tripl, .jurassic_safari {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -30px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }

  #cv_button {
    width: 290px!important;
  }

  .contact_email {
    padding-left: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile_menu {
    display: none!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse .projects_links_info {
    margin-top: -75px!important;
  }

  #tripl_app_image {
    margin-right: -5rem!important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .mobile_menu {
    display: none!important;
  }

  .mpulse .projects_links_info {
    margin-top: -75px!important;
  }
}
