html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  height: auto;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

hr {
  width: 100%;
  border-color: whitesmoke;
}

/* Smallest device */
@media screen and (min-width: 100px) and (max-width: 575px) {
  .nav_list {
    justify-content: space-between!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .nav_list li:not(:first-child, :nth-child(5)) {
    display: none!important;
  }

  .nav_list .icon {
    float: right!important;
    display: block!important;
  }

  .hero_header, .contact_categories {
    flex-direction: column!important;
  }

  .hero_header h1 {
    font-size: 14.75vw!important;
  }

  .contact_categories_left, .contact_categories_right {
    width: 100%!important;
  }

  .projects_links_info, .about_info p {
    width: 250px!important;
  }

  .mpulse, .tripl {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -30px!important;
  }

  #mpulse_logo_image {
    margin-bottom: -55px;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }

  #cv_button {
    width: 100%!important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav_list {
    justify-content: space-between!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .nav_list li:not(:first-child, :nth-child(5)) {
    display: none!important;
  }

  .nav_list .icon {
    float: right!important;
    display: block!important;
  }

  .hero_header, .contact_categories {
    flex-direction: column!important;
  }

  .hero_header h1 {
    font-size: 15.5vw!important;
  }

  .contact_categories_left, .contact_categories_right {
    width: 100%!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse, .tripl {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -25px!important;
  }

  .mpulse button, .tripl button {
    width: 25vw!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav_list {
    justify-content: space-between!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .nav_list li:not(:first-child, :nth-child(5)) {
    display: none!important;
  }

  .nav_list .icon {
    float: right!important;
    display: block!important;
  }

  .hero_header, .contact_categories {
    flex-direction: column!important;
  }

  .hero_header h1 {
    font-size: 15.5vw!important;
  }

  .contact_categories_left, .contact_categories_right {
    width: 100%!important;
  }

  .projects_links_info {
    width: 300px!important;
  }

  .mpulse, .tripl {
    flex-direction: column!important;
  }

  .mpulse .projects_links_info {
    margin-top: -30px!important;
  }

  #tripl_app_image {
    width: 80vw!important;
    margin-top: 50px;
    margin-right: 0px!important;
  }

  .about_info {
    flex-direction: column!important;
  }

  .about_info img {
    margin-bottom: 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .projects_links_info {
    width: 300px!important;
  }

  .mpulse .projects_links_info {
    margin-top: -75px!important;
  }

  #tripl_app_image {
    margin-right: -5rem!important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .mpulse .projects_links_info {
    margin-top: -75px!important;
  }
}
