html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

hr {
  width: 100%;
  border-color: whitesmoke;
}

/* Smallest device */
@media screen and (min-width: 100px) and (max-width: 575px) {
  .header {
    flex-direction: column!important;
  }

  .header h1 {
    font-size: 14.75vw!important;
  }

  .header img {
    width: 100%!important;
    height: auto;
    padding-top: 20px;
  }

  .projects_links {
    grid-template-columns: 1fr!important;
  }

  .skills_categories, .services_categories {
    flex-direction: column!important;
  }

  .frontend, .backend, .other, .web_design, .web_development, .mobile_development {
    margin: 20px!important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .header {
    flex-direction: column!important;
  }

  .header h1 {
    font-size: 15.5vw!important;
  }

  .header img {
    width: 100%!important;
    height: auto;
    padding-top: 20px;
  }

  .projects_links {
    grid-template-columns: 1fr!important;
  }

  .skills_categories, .services_categories {
    flex-direction: column!important;
  }

  .frontend, .backend, .other, .web_design, .web_development, .mobile_development {
    margin: 20px!important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .projects_links {
    grid-template-columns: 1fr 1fr!important;
  }

  .skills_categories, .services_categories {
    flex-direction: row!important;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .projects_links {
    grid-template-columns: 1fr 1fr!important;
  }

  .skills_categories, .services_categories {
    flex-direction: row!important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .projects_links {
    grid-template-columns: 1fr 1fr 1fr!important;
  }

  .skills_categories, .services_categories {
    flex-direction: row!important;
  }
}
