html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

hr {
  width: 100%;
  color: whitesmoke;
}

/* Smallest device */
@media only screen and (min-width: 100px) and (max-width: 575px) {
  .projects_links {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .projects_links {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .projects_links {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .projects_links {
    grid-template-columns: 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .projects_links {
    grid-template-columns: 1fr 1fr;
  }
}
